[defaults]
inventory = inventory.txt
host_key_checking = False
forks = 1
retry_files_enabled = False
vault_password_file = ../linux_tanium/vault_password_file

[ssh_connection]
pipelining = True

[all:vars]
ansible_python_interpreter = /usr/bin/python3

[defaults:env]
PYTHONPATH = /home/tpx-admin/.local/lib/python3.9/site-packages
